# Practical week 3

In [55]:
#1
list1 = ["hello", 1, True]
n = int(input())
print(list1, '\n')
list1.append(n)
print(list1)

4
['hello', 1, True]

['hello', 1, True, 4]

In [74]:
#2
list1 = list1
print(list1)

['hello', 1, True, 2]

In [82]:
#3
list2 =  [0, 'hi', 2, 100, 300, 2]
print("list2 = ", list2)
n = input("Number of 2s = ")
list2.count(2)

list2 =  [0, 'hi', 2, 100, 300, 2]
Number of 2s = 2

2

In [70]:
#4
list4 = [1, 3, 6]
n = int(input())
list4.remove(1)
list4

5

[3, 6]

In [58]:
#5
list5 = [1, 2, 3, 4, 5, 6, 7, 8]
print("old list: ", list5) 
del list5[0]
del list5[4]
del list5[5]
print("new list: ", list5)

old list:  [1, 2, 3, 4, 5, 6, 7, 8]
new list:  [2, 3, 4, 5, 7]

In [9]:
z = [1,2,3,4,5]
z[0]
z.index(1)

0

In [12]:
z.append('we')
z

[1, 2, 3, 4, 5, 'we', 'we', 'we']

In [15]:
x = ["Jack ", "Alice ", "Ban "]
x
x.sort()
print(x)

['Alice ', 'Ban ', 'Jack ']

In [16]:
x.pop()
print(x)

['Alice ', 'Ban ']

# practical week 3

In [42]:
#problem 1
list1 = ["hallo", 1, "True"]
print("old_list1: ", list1)
n = int(input("added number: "))
list1.append(n)
print("new list: ", list1)

old_list1:  ['hallo', 1, 'True']
added number: 4
new list:  ['hallo', 1, 'True', 4]

In [44]:
#problem 2
new_list = list1
print(new_list)

['hallo', 1, 'True', 4]

In [79]:
#problem 3
list2 = ["hello", 2, 4, 5, "bye"]
print("list2 = ", list2)
x = input("number of 2s = ")

list2 =  ['hello', 2, 4, 5, 'bye']
number of 2s = 2

In [93]:
#problem 4
list4 = [1, 2, 3, 4, 5]
print("old list: ", list4)
x = input("added value: ")
list4.append(x)
print("list4: ", list4)
del list4[:2]
print("new list: ", list4)

old list:  [1, 2, 3, 4, 5]
added value: 8
list4:  [1, 2, 3, 4, 5, '8']
new list:  [3, 4, 5, '8']

In [268]:
#problem 5
list5 = ["hi", 2, 4, 6, "go", 7, 8, 9]
print("old list: ", list5)
del list5[0]
del list5[4]
del list5[5]
print("new list: ", list5)

old list:  ['hi', 2, 4, 6, 'go', 7, 8, 9]
new list:  [2, 4, 6, 'go', 8]

In [110]:
#problem 6
list5 = ["hi", 2, 4, 6, "go", 7, 8, 9]
print("old list: ", list5)
list5.remove("hi")
list5.remove("go")
list5.remove(7)
print("new list: ", list5)

old list:  ['hi', 2, 4, 6, 'go', 7, 8, 9]
new list:  [2, 4, 6, 8, 9]

In [125]:
#problem 7
l1 = [1, 2, 3, 4]
print("old list: ", l1)
l2 = ["hi", "bye", "go", "rain"]
del l1[-1]
print("new l1: ", l1)
print("new list: ", l1 + l2)

old list:  [1, 2, 3, 4]
new l1:  [1, 2, 3]
new list:  [1, 2, 3, 'hi', 'bye', 'go', 'rain']

In [129]:
#problem 8
set1 = {1, 2, 3, 4, 5}
x = int(input("added value: "))
print("old set: ", set1)
set1.add(x)
print("new set: ", set1)

added value: 8
old set:  {1, 2, 3, 4, 5}
new set:  {1, 2, 3, 4, 5, 8}

In [139]:
#problem 9
set2 = {1, 2, 3, 4}
x = int(input("added value: "))
print("old set: ", set2)
set2.add(x)
print("added value: ", set2)
set2.remove(x)
print("removed value: ", set2)

added value: 8
old set:  {1, 2, 3, 4}
added value:  {1, 2, 3, 4, 8}
removed value:  {1, 2, 3, 4}

In [153]:
#problem 10 
set2 = {1, 2, 3, 4}
print("old set2: ", set2)
set2.discard(x)
print("new set2: ", set2)

old set2:  {1, 2, 3, 4}
new set2:  {1, 2, 3, 4}

In [148]:
#problem 11
set1 = {1, 3, 6, 9}
set2 = {1, 4, 8, 12}
set2.union(set1)

{1, 3, 4, 6, 8, 9, 12}

In [149]:
set2.intersection(set1)

{1}

In [165]:
#problem 12
set3 = {1, 2, 3, 4, 5}
z = int(input("new value: "))
z in set3

new value: 8

False

In [164]:
z not in set3

True

In [168]:
#problem 13
t1 = (1, 2, 3, 4, 5, 6)
t1[4]

5

In [169]:
t1[-4]

3

In [192]:
#Problem 14
t2 = (2, 3, 4, 5, 6, 7, 8)
print("before change: ", t2)
print("after change: ", t2[:4] + ("hi", ) + t2[5:])

before change:  (2, 3, 4, 5, 6, 7, 8)
after change:  (2, 3, 4, 5, 'hi', 7, 8)

In [232]:
#problem 15
dict1 = {}
dict1 = {1:'hi1', 2:'we2', 3:'sun3'}
print("old dict: ", dict1)
x = input("added: ")
dict1 + x

old dict:  {1: 'hi1', 2: 'we2', 3: 'sun3'}
added: 'key':'value'

TypeError: unsupported operand type(s) for +: 'dict' and 'str'

In [230]:
#problem 16
l1 = [(1, "a"), (2,"b"), (3, "c")]
d1 = {}
d1[1] = 'a'
d1[2] = 'b'
d1[3] = 'c'
print("l1: ", l1)
print("d1: ", d1)

l1:  [(1, 'a'), (2, 'b'), (3, 'c')]
d1:  {1: 'a', 2: 'b', 3: 'c'}

# Homework week3

In [235]:
#list 
# 1
a = [1, 4, 5, 7, 8, -2, 0, -1]
a[3]

7

In [236]:
# 2
a[5]

-2

In [249]:
# 3
a.sort()
print("a: ", a)
a.reverse()
print("a_sorted: ", a)

a:  [-2, -1, 0, 1, 4, 5, 7, 8]
a_sorted:  [8, 7, 5, 4, 1, 0, -1, -2]

In [253]:
# 4
a[1:3]

[7, 5]

In [254]:
a[2:6]

[5, 4, 1, 0]

In [265]:
# 5
a = [8, 7, 5, 4, 1, 0, -1, -2]
del a[2]
a

[8, 7, 4, 1, 0, -1, -2]

In [267]:
a = [8, 7, 5, 4, 1, 0, -1, -2]
del a[3]
a

[8, 7, 5, 1, 0, -1, -2]

In [269]:
print("a_sorted: ", a)

a_sorted:  [8, 7, 5, 1, 0, -1, -2]

In [271]:
b = ["grapes", "Potatoes","tomatoes", "Orange", "Lemon", "Broccoli", "Carrot", "Sausages"]
b.sort()
print("b_sorted: ", b)

b_sorted:  ['Broccoli', 'Carrot', 'Lemon', 'Orange', 'Potatoes', 'Sausages', 'grapes', 'tomatoes']

In [277]:
x = a[1:3]
x

[7, 5]

In [283]:
y = b[4:6]
y

['Potatoes', 'Sausages']

In [282]:
c = x + y
print("c: ", c)

c:  [7, 5, 'Potatoes', 'Sausages']

In [285]:
#set
a1 = ("Cookies", "Chocolate",8, True, -3, -5, "Chocolate", 8, False, 8)
b1 = (8, True, 10, 14,"Chocolate", "Milk", "Jelly", True, False, True)
set_a = set(a1)
set_b = set(b1)
print("set_a: ", set_a)
print("set_b: ", set_b)

set_a:  {False, True, 'Chocolate', 8, 'Cookies', -5, -3}
set_b:  {False, True, 'Chocolate', 'Jelly', 8, 10, 14, 'Milk'}

In [288]:
print("union_ab: ", set_a.union(set_b))

union_ab:  {False, True, 'Chocolate', 'Jelly', 8, 10, 14, 'Cookies', -5, 'Milk', -3}

In [289]:
print("intersection_ab: ", set_a.intersection(set_b))

intersection_ab:  {False, True, 'Chocolate', 8}

In [306]:
union_ab = {False, True, 'Chocolate', 'Jelly', 8, 10, 14, 'Cookies', -5, 'Milk', -3}
print(union_ab)
union_ab.add('Kit-Kat')
union_ab.add('Oreo')
print(union_ab)

{False, True, 'Chocolate', 'Jelly', 8, 10, 14, 'Cookies', -5, 'Milk', -3}
{False, True, 'Chocolate', 'Jelly', 8, 10, 'Oreo', 14, 'Cookies', 'Kit-Kat', -5, 'Milk', -3}

In [314]:
union_ab = {False, True, 'Chocolate', 'Jelly', 8, 10, 'Oreo', 14, 'Cookies', 'Kit-Kat', -5, 'Milk', -3}
intersection_ab = {False, True, 'Chocolate', 8}
print("new_set: ", union_ab | intersection_ab)

new_set:  {False, True, 'Chocolate', 'Jelly', 8, 10, 'Oreo', 14, 'Cookies', 'Kit-Kat', -5, 'Milk', -3}

In [325]:
new_set = {False, True, 'Chocolate', 'Jelly', 8, 10, 'Oreo', 14, 'Cookies', 'Kit-Kat', -5, 'Milk', -3}
"Chocolate" in new_set

True

In [328]:
new_set.discard('Oreo')
print("new_set: ", new_set)

new_set:  {False, True, 'Chocolate', 'Jelly', 8, 10, 14, 'Cookies', 'Kit-Kat', -5, 'Milk', -3}

In [347]:
#Tuples
t1 = (1, True, "a", -2,"Anna")
print("new_tuple: ", t1[:1] + t1[2:])

new_tuple:  (1, 'a', -2, 'Anna')

In [351]:
t2 = (1, 2, 3, 4, 5)
t3 = t1 [0:2] + t2[0:3]
print("tupl_3: ", t3)

tupl_3:  (1, True, 1, 2, 3)

In [358]:
print("t3_index2: ", t3[2])

t3_index2:  1

In [370]:
t4 = [(1,3,5), (8,9), ("Anna", "Bob","Alice")]
print(t4[0] [1])

3

In [375]:
#Dictionaries:
market = {"dairy":["yogurt", "cheese"], "fruits": ["banana", "apple", "orange", "lemon", "apple", "banana","banana"]}
x = {"candies": ['mars','kinder', 'twix']}
print("new_market: ", market, x)

new_market:  {'dairy': ['yogurt', 'cheese'], 'fruits': ['banana', 'apple', 'orange', 'lemon', 'apple', 'banana', 'banana']} {'candies': ['mars', 'kinder', 'twix']}

In [387]:
print("n_fruits: ", market.get("fruits"))

n_fruits:  ['banana', 'apple', 'orange', 'lemon', 'apple', 'banana', 'banana']

In [411]:
n_fruits = ['banana', 'apple', 'orange', 'lemon', 'apple', 'banana', 'banana']
n_fruits.sort()
print(n_fruits)

['apple', 'apple', 'banana', 'banana', 'banana', 'lemon', 'orange']

In [55]:
n_fruits = set(['banana', 'apple', 'orange', 'lemon', 'apple', 'banana', 'banana'])

In [18]:
new_fr = ['apple', 'apple', 'banana', 'banana', 'banana', 'lemon', 'orange']
new_fr.sort()
print(new_fr)
new_fr = set(['apple', 'apple', 'banana', 'banana', 'banana', 'lemon', 'orange'])
print(new_fr)

['apple', 'apple', 'banana', 'banana', 'banana', 'lemon', 'orange']
{'orange', 'apple', 'banana', 'lemon'}