# practical week 3

In [16]:
#problem 1
list1 = ["hallo", 1, "True"]
print("old_list1: ", list1)
n1 = int(input("added number1: "))
n2 = int(input("added number2: "))
list1.append(n1)
list1.append(n2)
print("new list: ", list1)

old_list1:  ['hallo', 1, 'True']
added number1: 3
added number2: 4
new list:  ['hallo', 1, 'True', 3, 4]

In [17]:
#problem 2
list1 = ["hello", 1, True]
list2 = list1.copy()
list2.extend([n1, n2])
print(list1)
print(list2)

['hello', 1, True]
['hello', 1, True, 3, 4]

In [79]:
#problem 3
list2 = ["hello", 2, 4, 5, "bye"]
print("list2 = ", list2)
x = input("number of 2s = ")

list2 =  ['hello', 2, 4, 5, 'bye']
number of 2s = 2

In [18]:
#problem 4
list4 = [1, 3, 6]
print("list4: ", list4)
n = int(input("added value: "))
list4.append(n)
list4.remove(1)
print("new_list4: ", list4)

list4:  [1, 3, 6]
added value: 7
new_list4:  [3, 6, 7]

In [19]:
#problem 5
list5 = ["hi", 2, 4, 6, "go", 7, 8, 9]
print("old list: ", list5)
del list5[5]
del list5[4]
del list5[0]
print("new list: ", list5)

old list:  ['hi', 2, 4, 6, 'go', 7, 8, 9]
new list:  [2, 4, 6, 8, 9]

In [22]:
#problem 6
list5 = ["hi", 2, 4, 6, "go", 7, 8, 9]
print("old list: ", list5)
list6.pop(5)
list6.pop(4)
list6.pop(0)
print("new list: ", list6)

old list:  ['hi', 2, 4, 6, 'go', 7, 8, 9]
new list:  [2, 4, 6, 8, 9]

In [23]:
#problem 7
l1 = [1, 2, 3, 4]
print("old list: ", l1)
l2 = ["hi", "bye", "go", "rain"]
l1[-1] = l2
print("new_list: ", l1)

old list:  [1, 2, 3, 4]
new_list:  [1, 2, 3, ['hi', 'bye', 'go', 'rain']]

In [129]:
#problem 8
set1 = {1, 2, 3, 4, 5}
x = int(input("added value: "))
print("old set: ", set1)
set1.add(x)
print("new set: ", set1)

added value: 8
old set:  {1, 2, 3, 4, 5}
new set:  {1, 2, 3, 4, 5, 8}

In [139]:
#problem 9
set2 = {1, 2, 3, 4}
x = int(input("added value: "))
print("old set: ", set2)
set2.add(x)
print("added value: ", set2)
set2.remove(x)
print("removed value: ", set2)

added value: 8
old set:  {1, 2, 3, 4}
added value:  {1, 2, 3, 4, 8}
removed value:  {1, 2, 3, 4}

In [153]:
#problem 10 
set2 = {1, 2, 3, 4}
print("old set2: ", set2)
set2.discard(x)
print("new set2: ", set2)

old set2:  {1, 2, 3, 4}
new set2:  {1, 2, 3, 4}

In [148]:
#problem 11
set1 = {1, 3, 6, 9}
set2 = {1, 4, 8, 12}
set2.union(set1)

{1, 3, 4, 6, 8, 9, 12}

In [149]:
set2.intersection(set1)

{1}

In [25]:
#problem 12
set3 = {1, 2, 3, 4, 5}
z = int(input("new value: "))
(z > min (set3)) & (z < max (set3))

new value: 3

True

In [27]:
#problem 13
t1 = (1, 2, 3, 4, 5, 6)
t1[4], t1[-4]

(5, 3)

In [192]:
#Problem 14
t2 = (2, 3, 4, 5, 6, 7, 8)
print("before change: ", t2)
print("after change: ", t2[:4] + ("hi", ) + t2[5:])

before change:  (2, 3, 4, 5, 6, 7, 8)
after change:  (2, 3, 4, 5, 'hi', 7, 8)

In [33]:
#problem 15
dict1 = {1:'hi1', 2:'we2', 3:'sun3'}
print("old dict: ", dict1)
key = input("key: ")
value = input("value: ")
dict1[key] = value
dict1

old dict:  {1: 'hi1', 2: 'we2', 3: 'sun3'}
key: old
value: new

{1: 'hi1', 2: 'we2', 3: 'sun3', 'old': 'new'}

In [35]:
#problem 16
l1 = [(1, "a"), (2,"b"), (3, "c")]
d1 = dict(l1)
print("l1: ", l1)
print("d1: ", d1)

l1:  [(1, 'a'), (2, 'b'), (3, 'c')]
d1:  {1: 'a', 2: 'b', 3: 'c'}

# Homework week3

In [42]:
#list 
# 1
a = [1, 4, 5, 7, 8, -2, 0, -1]
a[3], a[5]

(7, -2)

In [249]:
# 3
a.sort()
print("a: ", a)
a.reverse()
print("a_sorted: ", a)

a:  [-2, -1, 0, 1, 4, 5, 7, 8]
a_sorted:  [8, 7, 5, 4, 1, 0, -1, -2]

In [253]:
# 4
a[1:3]

[7, 5]

In [254]:
a[2:6]

[5, 4, 1, 0]

In [43]:
# 5
a = [8, 7, 5, 4, 1, 0, -1, -2]
del a[3]
del a[2]
print("a_sorted: ", a)

a_sorted:  [8, 7, 1, 0, -1, -2]

In [271]:
b = ["grapes", "Potatoes","tomatoes", "Orange", "Lemon", "Broccoli", "Carrot", "Sausages"]
b.sort()
print("b_sorted: ", b)

b_sorted:  ['Broccoli', 'Carrot', 'Lemon', 'Orange', 'Potatoes', 'Sausages', 'grapes', 'tomatoes']

In [51]:
a = [1, 4, 5, 7, 8, -2, 0, -1]
b = ["grapes", "Potatoes","tomatoes", "Orange", "Lemon", "Broccoli", "Carrot", "Sausages"]
x = a[0:3]
print("x = ", x)
y = b[3:6]
print("y = ", y)
c = x + y
print("c = ", c)

x =  [1, 4, 5]
y =  ['Orange', 'Lemon', 'Broccoli']
c =  [1, 4, 5, 'Orange', 'Lemon', 'Broccoli']

In [285]:
#set 1
a1 = ("Cookies", "Chocolate",8, True, -3, -5, "Chocolate", 8, False, 8)
b1 = (8, True, 10, 14,"Chocolate", "Milk", "Jelly", True, False, True)
set_a = set(a1)
set_b = set(b1)
print("set_a: ", set_a)
print("set_b: ", set_b)

set_a:  {False, True, 'Chocolate', 8, 'Cookies', -5, -3}
set_b:  {False, True, 'Chocolate', 'Jelly', 8, 10, 14, 'Milk'}

In [288]:
print("union_ab: ", set_a.union(set_b))

union_ab:  {False, True, 'Chocolate', 'Jelly', 8, 10, 14, 'Cookies', -5, 'Milk', -3}

In [289]:
print("intersection_ab: ", set_a.intersection(set_b))

intersection_ab:  {False, True, 'Chocolate', 8}

In [55]:
union_ab = {False, True, 'Chocolate', 'Jelly', 8, 10, 14, 'Cookies', -5, 'Milk', -3}
print(union_ab)
union_ab.add('Kit-Kat')
union_ab.add('Oreo')
print(union_ab)

{False, True, 8, 'Chocolate', 10, 'Cookies', 'Milk', 14, 'Jelly', -5, -3}
{False, True, 8, 'Chocolate', 10, 'Cookies', 'Milk', 14, 'Oreo', 'Jelly', 'Kit-Kat', -5, -3}

In [57]:
union_ab = {False, True, 'Chocolate', 'Jelly', 8, 10, 'Oreo', 14, 'Cookies', 'Kit-Kat', -5, 'Milk', -3}
intersection_ab = {False, True, 'Chocolate', 8}
print("new_set: ", union_ab | intersection_ab)

new_set:  {False, True, 8, 'Chocolate', 10, 'Cookies', 'Milk', 14, 'Oreo', 'Jelly', 'Kit-Kat', -5, -3}

In [325]:
new_set = {False, True, 'Chocolate', 'Jelly', 8, 10, 'Oreo', 14, 'Cookies', 'Kit-Kat', -5, 'Milk', -3}
"Chocolate" in new_set

True

In [328]:
new_set.discard('Oreo')
print("new_set: ", new_set)

new_set:  {False, True, 'Chocolate', 'Jelly', 8, 10, 14, 'Cookies', 'Kit-Kat', -5, 'Milk', -3}

In [58]:
#Tuples

In [73]:
t1 = (1, True, "a", -2, "Anna")
print("new_t1: ", t1[:1] + t1[2:])

new_t1:  (1, 'a', -2, 'Anna')

In [75]:
t1 = (1, True, "a", -2, "Anna")
t2 = (1, 2, 3, 4, 5)
t3 = t1[:2] + t2[:3]
print("tupl_3: ", t3)

tupl_3:  (1, True, 1, 2, 3)

In [76]:
print("t3_index2: ", t3[2])

t3_index2:  1

In [370]:
t4 = [(1,3,5), (8,9), ("Anna", "Bob","Alice")]
print(t4[0] [1])

3

In [108]:
#Dictionaries:

In [96]:
market = {"dairy":["yogurt", "cheese"], "fruits": ["banana", "apple", "orange", "lemon", "apple", "banana","banana"]}
key = input("key: ")
value = input("value: ")

key: "candies"
value: ['mars','kinder', 'twix']

In [97]:
key, value

('"candies"', "['mars','kinder', 'twix']")

In [101]:
market.update({key: value})
market

{'dairy': ['yogurt', 'cheese'],
 'fruits': ['banana', 'apple', 'orange', 'lemon', 'apple', 'banana', 'banana'],
 '"candies"': "['mars','kinder', 'twix']"}

In [102]:
market["fruits"]

['banana', 'apple', 'orange', 'lemon', 'apple', 'banana', 'banana']

In [106]:
new_fr = ['apple', 'apple', 'banana', 'banana', 'banana', 'lemon', 'orange']
new_fr.sort()
print(new_fr)
new_fr = set(['apple', 'apple', 'banana', 'banana', 'banana', 'lemon', 'orange'])
print(new_fr)

['apple', 'apple', 'banana', 'banana', 'banana', 'lemon', 'orange']
{'orange', 'lemon', 'apple', 'banana'}

In [107]:
market["fruits"] = 'orange', 'lemon', 'apple', 'banana'
market

{'dairy': ['yogurt', 'cheese'],
 'fruits': ('orange', 'lemon', 'apple', 'banana'),
 '"candies"': "['mars','kinder', 'twix']"}